.bg {
    background-image: url('../img/alex-fxrwJGMCz_g-unsplash.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

.container-form {
    border: 1px solid #ffffff;
    margin-top: 22vh;
    padding: 30px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
    box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
}