.bg {
    background-image: url('../img/Untitled45_20220704155154.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 130vh;
}

h2 {
    color: #90639E;
    font: bold 12 px;
}

label {
    color: #90639E;
}

.container-form {
    border: 1px solid #ffffff;
    margin-top: 43vh;
    padding: 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
    box-shadow: 0px 0px 70px -9px rgba(255,255,255,1);
}
